# Normalize text files to LF on checkout
* text=auto eol=lf

# EPICS State Notation Language (.st)
*.st text linguist-language=C

*.db text
*.dbd text
*.template text
*.subs text
*.cmd text
*.req text
*.proto text

*.sh text eol=lf
Makefile text

*.png binary -diff -merge
*.jpg binary -diff -merge
*.jpeg binary -diff -merge
*.gif binary -diff -merge
*.bmp binary -diff -merge
*.ico binary -diff -merge

*.zip binary -diff -merge
*.tar binary -diff -merge
*.gz  binary -diff -merge
*.xz  binary -diff -merge
